menuconfig VCU_DISPLAY
	bool "VCU dashboard display"
	depends on VCU_DASHBOARD
	select DISPLAY
	select LVGL

if VCU_DISPLAY

config LV_COLOR_16_SWAP
	default y if LV_COLOR_DEPTH_16

config VCU_DISPLAY_SHELL
	bool
	depends on VCU_DASHBOARD_SHELL
	default y
	select LV_Z_SHELL

endif # VCU_DISPLAY
