#include <zephyr/dt-bindings/sensor/sensor-channels.h>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <zephyr/dt-bindings/input/sensor-axis.h>

/ {
    chosen {
        nturt,accel = &accel_pedal_plaus;
        nturt,brake = &brake;
        nturt,steer = &steer;
    };

    // sensing: sensing-node {
    //     compatible = "zephyr,sensing";
        
    //     test: test {
    //         compatible = "zephyr,sensing-phy-generic";
    //         zephyr,channels = <SENSOR_CHAN_DISTANCE>;
    //         friendly-name = "Test sensor";
    //         minimal-interval = <1000>;
    //         underlying-device = <&susp_fl>;
    //     };
    // };

    cockpit: sensor-axis-cockpit {
        compatible = "sensor-axis";
        poll-period = <10>;

        accel: accel {
            zephyr,axis = <INPUT_ABS_THROTTLE>;
            deadzone-mode = <INPUT_DEADZONE_MODE_EDGE>;
            deadzone-size = <5>; // 5%
            noise = <1000>; // 1%
            dev-tolerance = <10>; // 10%
            time-tolerance = <100>; // 100ms
            time-tolerance-decay = <20>; // 20%

            apps1 {
                sensor = <&apps1>;
                zephyr,channel = <SENSOR_CHAN_ROTATION>;
                in-min = <0 0>;
                in-max = <15 0>;
                range-tolerance = <10>; // 10%
            };

            apps2 {
                sensor = <&apps2>;
                zephyr,channel = <SENSOR_CHAN_ROTATION>;
                in-min = <0 0>;
                in-max = <15 0>;
                range-tolerance = <10>; // 10%
            };
        };

        brake: brake {
            zephyr,axis = <INPUT_ABS_BRAKE>;
            deadzone-mode = <INPUT_DEADZONE_MODE_EDGE>;
            deadzone-size = <5>; // 5%
            noise = <1000>; // 1%
            time-tolerance = <100>; // 100ms
            time-tolerance-decay = <20>; // 20%

            bse1 {
                sensor = <&bse1>;
                zephyr,channel = <SENSOR_CHAN_PRESS>;
                in-min = <0 0>;
                in-max = <100 0>;
                range-tolerance = <10>; // 10%
            };

            bse2 {
                sensor = <&bse2>;
                zephyr,channel = <SENSOR_CHAN_PRESS>;
                in-min = <0 0>;
                in-max = <100 0>;
                range-tolerance = <10>; // 10%
            };
        };

        steer: steer {
            zephyr,axis = <INPUT_ABS_WHEEL>;
            out-min = <(-127)>;
            out-max = <127>;
            noise = <1000>; // 1%

            steer_encoder {
                sensor = <&steer_encoder>;
                zephyr,channel = <SENSOR_CHAN_ROTATION>;
                in-min = <(-180) 0>;
                in-max = <180 0>;
                range-tolerance = <10>; // 10%
            };
        };
    };

    accel_pedal_plaus: accel-pedal-plaus {
        compatible = "nturt,accel";
        accel = <&accel>;
        brake = <&brake>;
    };
};
