menu "Zephyr"
source "Kconfig.zephyr"
endmenu # "Zephyr"

menuconfig VCU
	bool "NTURT Vehicle Control Unit (VCU)"
	default y
	select NTURT

if VCU

rsource "Kconfig.hardware"

rsource "src/canopen/Kconfig"
rsource "src/ctrl/Kconfig"
rsource "src/dashboard/Kconfig"
rsource "src/msg/Kconfig"
rsource "src/perception/Kconfig"
rsource "src/sys/Kconfig"
rsource "src/telemetry/Kconfig"

endif # VCU
