menuconfig VCU_DASHBOARD
	bool "Dashboard and display system"
	select LED
	select LED_STRIP
	select AUXDISPLAY
	select VCU_SYS
	select VCU_STATES
	select VCU_CTRL

if VCU_DASHBOARD

rsource "display/Kconfig"

config VCU_DASHBOARD_INIT_PRIORITY
	int "Init priority"
	default 50
	help
	  Dashboard and display system initialization priority.

config VCU_DASHBOARD_SHELL
	bool "Dashboard and display shell support"
	depends on VCU_SHELL
	default y
	select LED_SHELL

config VCU_DASHBOARD_SETTINGS
	bool "Dashboard and display settings support"
	depends on SETTINGS
	default y

endif # VCU_DASHBOARD
