menuconfig VCU_SENSORS
	bool "Sensor and input system"
	default y
	select SENSOR
	select INPUT
	select INPUT_THREAD_PRIORITY_OVERRIDE
	select VCU_SYS

if VCU_SENSORS

config INPUT_THREAD_PRIORITY
	default 1

config INPUT_SENSOR_AXIS_THREAD_PRIORITY
	default 1

config VCU_SENSORS_INIT_PRIORITY
	int "Init priority"
	default 50
	help
	  Sensor and input system initialization priority.

config VCU_SENSORS_PEDAL_PLAUS
	bool "Pedal plausibility check"
	default y
	help
	  Enable plausibility check for pedals according to the FSAE rule EV4.7,
	  APPS / Brake Pedal Plausibility Check.

config VCU_SENSORS_SHELL
	bool "Sensor and input shell"
	depends on VCU_SHELL
	default y
	select SENSOR_SHELL
	select INPUT_SHELL
	select INPUT_EVENT_DUMP

endif # VCU_SENSORS
