menuconfig VCU_STATES
	bool "Control system state machine"
	select EVENTS
	select SMF
	select SMF_ANCESTOR_SUPPORT
	select SMF_INITIAL_TRANSITION
	select NTURT_ERR
	select NTURT_MSG

if VCU_STATES

config VCU_STATES_INIT_PRIORITY
	int "Init priority"
	default 30
	help
	  Control system state machine initialization priority.

config VCU_STATES_CHECK_PEDAL
	bool "Check pedal states for RTD readiness"
	default y
	help
	  When enabled, only when accelerator is not engaged and brake is engaged
	  can start RTD.

choice VCU_STATES_TRANS_TO_ERROR_ON_SEVERITY
	prompt "Error severity to transition to error state"
	default VCU_STATES_TRANS_TO_ERROR_ON_FATAL

config VCU_STATES_TRANS_TO_ERROR_DISABLED
	bool "Disable transition to error state on errors"

config VCU_STATES_TRANS_TO_ERROR_ON_FATAL
	bool "Transition to error state on fatal errors"

config VCU_STATES_TRANS_TO_ERROR_ON_WARNING
	bool "Transition to error state on warning errors"

endchoice

choice VCU_STATES_TRANS_MODE
	prompt "Control system state transition process mode"
	default VCU_STATES_TRANS_SYNC

config VCU_STATES_TRANS_SYNC
	bool "Process control system state transition synchronously"
	help
	  State transitions and their cooresponding trnasition callbacks are
	  processed synchronously in the context of the code that requests state
	  transitions.

config VCU_STATES_TRANS_THREAD
	bool "Process control system state transition in a dedicated thread"
	help
	  State transitions are reported to a dedicated thread where state
	  transitions and their cooresponding transition callbacks are processed
	  asynchronously.

endchoice

if VCU_STATES_TRANS_THREAD

config VCU_STATES_THREAD_STACK_SIZE
	int "Control system state machine thread stack size"
	default 1024
	help
	  Stack size of the thread processing state machine transitions, must be big
	  enough to execute the registered transition callbacks.

config VCU_STATES_THREAD_PRIORITY
	int "Control system state machine thread priority"
	default 0
	help
	  Priority of the thread processing state machine transitions.

endif # VCU_STATES_TRANS_THREAD

config VCU_STATES_SHELL
	bool "Control system state machine shell support"
	default y
	depends on VCU_SHELL

endif # VCU_STATES
