menuconfig VCU_STATES
	bool "Control system state machine"
	select SMF
	select SMF_ANCESTOR_SUPPORT
	select SMF_INITIAL_TRANSITION

if VCU_STATES

config VCU_STATES_INIT_PRIORITY
	int "Init priority"
	default 30
	help
	  Control system state machine initialization priority.

config VCU_STATES_CHECK_PEDAL
	bool "Check pedal states for RTD readiness"
	default y
	help
	  When enabled, only when accelerator is not engaged and brake is engaged
	  can start RTD.

choice VCU_STATES_TRANS_MODE
	prompt "Control system state transition process mode"
	default VCU_STATES_TRANS_SYS_WORKQUEUE if VCU_SYS
	default VCU_STATES_TRANS_SYNC

config VCU_STATES_TRANS_SYNC
	bool "Process control system state transition synchronously"
	help
	  State transitions and their cooresponding trnasition callbacks are
	  processed synchronously in the context of the code that requests state
	  transitions.

config VCU_STATES_TRANS_SYS_WORKQUEUE
	bool "Process control system state transition in system workqueue"
	help
	  State transitions are deferred to system workqueue where state
	  transitions and their corresponding transition callbacks are processed
	  asynchronously.
	depends on VCU_SYS

endchoice # VCU_STATES_TRANS_MODE

if !VCU_STATES_TRANS_SYNC

config VCU_STATES_TRANS_DEFER_PRIORITY
	int "Init priority to start processing state transitions asynchronously"
	default 95
	help
	  Start processing state transitions asynchronously to ensure a consistent
	  view of the state machine during initialization and to prevent blocking
	  due to the sys workqueue not starting yet.

endif # !VCU_STATES_TRANS_SYNC

config VCU_STATES_ERR
	bool "State machine error handling support"
	depends on NTURT_ERR
	default y

if VCU_STATES_ERR

choice VCU_STATES_TRANS_TO_ERROR_ON_SEVERITY
	prompt "Error severity to transition to error state"
	default VCU_STATES_TRANS_TO_ERROR_ON_FATAL

config VCU_STATES_TRANS_TO_ERROR_ON_FATAL
	bool "Transition to error state on fatal errors"

config VCU_STATES_TRANS_TO_ERROR_ON_WARNING
	bool "Transition to error state on warning errors"

endchoice

endif # VCU_STATES_ERR

config VCU_STATES_MSG
	bool "Control system state machine message support"
	depends on VCU_MSG
	default y

config VCU_STATES_SHELL
	bool "Control system state machine shell support"
	depends on VCU_SHELL
	default y

endif # VCU_STATES
