rsource "states/Kconfig"

menuconfig VCU_CTRL
	bool "Control system"
	select VCU_SYS
	select VCU_MSG
	select VCU_STATES

if VCU_CTRL

config VCU_CTRL_INIT_PRIORITY
	int "Control system initialization priority"
	default 40

config VCU_CTRL_STACK_SIZE
	int "Control system thread stack size"
	default 4096

config VCU_CTRL_THREAD_PRIORITY
	int "Control system thread priority"
	default 0

config VCU_CTRL_SETTINGS
	bool "Control system settings support"
	depends on SETTINGS
	default y

endif # VCU_CTRL
